.city {
  padding-left: 20px;
  display: flex;
  flex-direction: row;
}
.city__card {
  min-width: 225px;
  margin: 20px 40px 20px 20px;
  border-top: 3px solid green;
}

.city__card--vert {
  border-left: 1px solid gray;
  height: 60px;
  margin: 0;
}

.city__card--top {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.city__card--top > .MuiCardContent-root {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 0;
}

#horizontal__line {
  border-top: 1px solid gray;
  width: 90%;
  margin: 0;
}

.city__card--bottom {
  padding-left: 20px;
}
