.detail {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.detail__icons {
  display: flex;
  flex-direction: column;
}

.detail__icon {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.detail__icon--style {
  border: 2px solid #785ceb;
  background-color: #785ceb;
  border-radius: 5px;
  height: 25px !important;
  width: 25px !important;
}

.detail__text {
  margin-left: 10px;
  font-style: italic;
  font-size: 12px;
}

.detail__text > p {
  padding: 0;
  margin: 0;
}
