.app_container--Sidebar {
  grid-area: sidebar;
  background-color: whitesmoke;
  border-radius: 5px;
  box-shadow: 2px #f7f7f7;
}

.app_container--Navbar {
  grid-area: navbar;
  background-color: whitesmoke;
  margin-right: 3px;
  border-radius: 5px;
  box-shadow: 2px #f7f7f7;
}

.app_container--Main {
  grid-area: main;
  background-color: whitesmoke;
  margin-right: 3px;
  border-radius: 5px;
  box-shadow: 2px #f7f7f7;
}

.app_container {
  display: grid;
  grid-template-columns: [first] 9% [line2] 8% [line3] 24% [line4] 24% [line5] 24% [line6] 9% [end];
  grid-template-rows: [row1-start] 7% [row1-end] 14% [third-line] 35% [fourth-line] 35%[fifth-line] 7%[end-line];
  column-gap: 2px;
  row-gap: 2px;
  height: 700px;

  grid-template-areas:
    ". . . . . ."
    ". sidebar navbar navbar navbar navbar"
    ". sidebar main main main main"
    ". sidebar main main main main"
    ". . . . . .";
}
